.container
  %h1
    = @building.name

  %h3 Address
  = @building.address

  .separator

  %br
  = link_to "Bathrooms", building_bathrooms_path(@building), :class => 'btn btn-default'
  %br
  .separator

  = link_to "Go Back", buildings_path, :class => 'btn btn-default'
