/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
// Import slate variables
@import "bootswatch/cerulean/variables";
@import "bootstrap";
// And finally bootswatch style itself
@import "bootswatch/cerulean/bootswatch";
@import url("forms.scss");

 .navbar {
     -webkit-border-radius: 0;
     -moz-border-radius: 0;
     border-radius: 0;
 }

 .navbar-default {
	margin : 0 !important;
}

.footer {
  align-items: center;
  text-align: center;
  margin-top:15px;
  margin-bottom: 15px;
}

.dropdown-menu > li > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #c8c8c8;
  white-space: nowrap;
}

.nav > input {
	padding-top: 5px;
}

.login {
	margin-right: 10px;
}

body {
  padding-top: 50px;
}

.separator {
	height:10px;
}

td p {
	vertical-align: middle;
}

body, html {
  height: 100%;
  width: 100%;
}

div#map {
  width: 100%;
  height: 100%;
}

.container {
  height:100%;
  width:100%;
}

.row {
  margin: 5px;
}
.card {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #f0f0f0;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}